---
---

// Headers
$header-bg-color: #00693e !default;

// Text
$section-headings-color: #0d7878 !default;
$body-link-color: #185792 !default;


h1, h2 {
    font-weight: bold !important;
}

.main-content h1, .main-content h2 {
    font-weight: bold !important;
}

// Bigass Data Table
.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 5px;
}

.row-meta {
    display: flex;
}

.no-pad {
    padding-left: 0px;
    padding-right: 0px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,0.05);
}

.col-md-5, .col-md-6, .col-md-7 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-12 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;    
    padding-right: 15px;
    padding-left: 15px;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.paginate_button {
    margin-left: 5px;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #007bff;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #606c71;
    background-color: #fff;
    font-size: .9rem;
}

table .th-sm {
    min-width: 8rem;
}

/* The sidebar menu */
.sidenav {
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 400px; /* Stay at the top */
  left: 50px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
}
/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #185792;
  display: block;
}
/* When you mouse over the navigation links, change their color */
a:hover {
  color: #4a1d6c;
}

/* #bigass-table */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

.card {
  transition: 0.3s;
  width: 40%;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  max-width: 175px;
  border-radius: 5px; /* 5px rounded corners */
  font-size: 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 6px 16px;
}


/* Everything must go before this -- should be the last line */ 
@import "{{ site.theme }}";
